---
const {seisAm} = Astro.props
const {ochoAm} = Astro.props
const {diezAm} = Astro.props
const {docePm} = Astro.props
const {dosPm} = Astro.props
const {cuatroPm} = Astro.props
const {seisPm} = Astro.props


---



<table class="border-collapse border border-slate-500 table-fixed">
  <thead>
    <tr>
      <th class="border border-slate-600 ">Hora/Día</th>
      <th class="border border-slate-600 ">Lunes</th>
      <th class="border border-slate-600 ">Martes</th>
      <th class="border border-slate-600 ">Miércoles</th>
      <th class="border border-slate-600 ">Jueves</th>
      <th class="border border-slate-600 ">Viernes</th>
      <th class="border border-slate-600 ">Sábado</th>
      <th class="border border-slate-600 ">Domingo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="border border-slate-700 ">06:00am</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

    <tr>
      <th class="border border-slate-700 ">08:00am</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

    <tr>
      <th class="border border-slate-700 ">10:00am</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

    <tr>
      <th class="border border-slate-700 ">12:00pm</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

    <tr>
      <th class="border border-slate-700 ">14:00pm</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

    <tr>
      <th class="border border-slate-700 ">16:00am</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

    <tr>
      <th class="border border-slate-700 ">18:00am</th>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
      <td class="border border-slate-700 "> - </td>
    </tr>

  </tbody>
</table>

<style>
  th, td{
    padding: 1rem;
  }
  
  tr {
    text-align: center;
  }

  table {
    width: 100vw;
    height: 45vw;
  }


</style>